@import "../../../sass/main.scss";
.contact_us_page_container {
  .p_tag {
    font-size: 3rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.773);
  }
  .p_tag_01 {
    font-size: 2rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.737);
  }
  .h_tag_01 {
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.773);
    max-width: 100rem;
    font-weight: 600;
  }
  .h_tag {
    font-size: 5rem;
    color: rgba(0, 0, 0, 0.773);
    max-width: 100rem;
    font-weight: 600;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  .email_container {
    svg {
      color: rgba(0, 0, 0, 0.773);
      font-size: 5rem;
      margin: 4rem auto;
      margin-bottom: 1rem;
    }
  }
  .formik_container {
    max-width: 80rem;
    margin: 5rem;
    @include respond(tab-port) {
      max-width: 80rem;
    }
    .button_comp {
      border-radius: 0;
      width: 100%;
      padding: 1rem;
      font-size: 1.2rem;
      font-weight: 600;
      margin-top: 1rem;
      color: $color-secondary;
      background-color: $color-accent-2;

      p {
        transition: color 2s ease, background-color 0.3s ease;
        font-size: 2rem;
        font-weight: 400;
        color: $color-asses-01;
        font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
          sans-serif;
      }
      &:hover {
        p {
          color: $color-grey-light-1;
        }

        background-color: $color-secondary;
      }
    }
  }
  .follow_use_div {
    flex-wrap: wrap;
    margin: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    @include respond(phone) {
      justify-content: center;
    }
  }
  .instagram_div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .map_and_info {
    width: 100%;
    color: azure;
    background-color: $color-asses-01;

    h1 {
      font-size: 4rem;
      font-weight: 500;
    }
    h2 {
      font-size: 3rem;
      font-weight: 500;
    }
    p {
      font-size: 2rem;
      font-weight: 400;

      font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
        sans-serif;
    }
  }
}
