@import "../../../sass/main.scss";
.about_us_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5rem auto;
  .p_tag {
    font-size: 3rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.773);
  }
  .p_tag_01 {
    font-size: 2rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.737);
  }
  .h_tag_01 {
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.773);
    max-width: 100rem;
    font-weight: 600;
  }
  .h_tag {
    font-size: 5rem;
    color: rgba(0, 0, 0, 0.773);
    max-width: 100rem;
    font-weight: 600;
  }
  .about_us_intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 95rem;
  }
  .rooms_info_main_div {
    font-size: 3rem;
    margin-top: 3rem;
    max-width: 100rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .rooms_info {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      .room_count {
        font-size: 6rem;
        color: $color-asses-01;
      }
    }
  }
  .team_info {
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    .h_tag {
      padding-bottom: 0.2rem;
      border-bottom: 2px solid salmon;
    }
  }
  .follow_use_div {
    flex-wrap: wrap;
    margin: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    @include respond(phone) {
      justify-content: center;
    }
  }
  .instagram_div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
